aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.10.2
anyio==3.6.2
apache-airflow==2.5.1
apache-airflow-providers-common-sql==1.3.4
apache-airflow-providers-ftp==3.3.1
apache-airflow-providers-http==4.2.0
apache-airflow-providers-imap==3.1.1
apache-airflow-providers-sqlite==3.3.1
apispec==3.3.2
appnope==0.1.3
argcomplete==2.1.1
asgiref==3.6.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.2.0
aws-cdk-lib==2.65.0
aws-cdk.asset-awscli-v1==2.2.79
aws-cdk.asset-kubectl-v20==2.1.1
aws-cdk.asset-node-proxy-agent-v5==2.0.65
Babel==2.12.1
backcall==0.2.0
blinker==1.5
CacheControl==0.12.10
cachelib==0.9.0
cachy==0.3.0
cattrs==22.2.0
certifi==2021.10.8
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==2.0.12
cleo==0.8.1
click==8.1.3
clickclick==20.10.2
clikit==0.6.2
colorama==0.4.6
colorlog==4.8.0
ConfigUpdater==3.1.1
connexion==2.14.2
constructs==10.0.75
crashtest==0.3.1
cron-descriptor==1.2.35
croniter==1.3.8
cryptography==39.0.2
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.4
dnspython==2.3.0
docutils==0.19
email-validator==1.3.1
exceptiongroup==1.1.0
executing==0.8.3
filelock==3.6.0
Flask==2.2.3
Flask-AppBuilder==4.1.4
Flask-Babel==2.0.0
Flask-Caching==2.0.2
Flask-JWT-Extended==4.4.4
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
frozenlist==1.3.3
graphviz==0.20.1
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
identify==2.5.6
idna==3.3
importlib-metadata==4.11.2
inflection==0.5.1
ipython==8.4.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jsii==1.75.0
jsonschema==4.17.3
keyring==23.5.0
lazy-object-proxy==1.9.0
linkify-it-py==2.0.0
lockfile==0.12.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.5
mdurl==0.1.2
msgpack==1.0.3
multidict==6.0.4
nodeenv==1.7.0
opentelemetry-proto==1.11.1
packaging==20.9
parso==0.8.3
pastel==0.2.1
pathspec==0.9.0
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
pip-init==0.3.0
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
poetry==1.1.13
poetry-core==1.0.8
pre-commit==2.20.0
prison==0.2.1
prompt-toolkit==3.0.29
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
publication==0.0.3
pure-eval==0.2.2
pycparser==2.21
Pygments==2.14.0
PyJWT==2.6.0
pylev==1.4.0
pyparsing==3.0.7
pyrsistent==0.19.3
python-daemon==3.0.1
python-dateutil==2.8.2
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2022.7.1
pytzdata==2020.1
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==13.3.2
setproctitle==1.3.2
shellingham==1.4.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.46
SQLAlchemy-JSONField==1.0.1.post0
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
stack-data==0.3.0
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.2.0
text-unidecode==1.3
toml==0.10.2
tomlkit==0.10.0
traitlets==5.3.0
typeguard==2.13.3
typing_extensions==4.5.0
uc-micro-py==1.0.1
unicodecsv==0.14.1
urllib3==1.26.8
virtualenv==20.13.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.3
wrapt==1.15.0
WTForms==3.0.1
yarl==1.8.2
zipp==3.7.0
